body, html {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

#intel-instagram-container {
	position: relative;
  width: 100%;
  height: 590px;
  background-color: #fcfcfe;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
		opacity: 1;
	}
}

@keyframes fadeenter {
100% {
  opacity: 1;
  }
}

#top {
  width: 100%;
  height: 10px;
  margin-top: -1300px;
  position: absolute;
}

#intel-instagram-title {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #3b3d54;
  margin-left: 560px;
  top: 10%;
}

#paragraph-1 {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 300;
  font-style: italic;
  color: #3b3d54;
  margin-left: 445px;
  top: 22%;
  position: absolute;
  opacity: 0;
  animation: fadeenter 2.5s forwards;
  -webkit-animation: fadeenter 2.5s forwards;
  -moz-animation: fadeenter 2.5s forwards;
  -ms-animation: fadeenter 2.5s forwards;
  animation-delay: 1.8s;
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  -ms-animation-delay: 1.8s;
}

.column-1 {
  display: block;
  margin-left: 200px;
  margin-top: 200px;
  width: 420px;
  height: 100px;
  position: absolute;
  opacity: 0;
  animation: fadeenter 2.5s forwards;
  -webkit-animation: fadeenter 2.5s forwards;
  -moz-animation: fadeenter 2.5s forwards;
  -ms-animation: fadeenter 2.5s forwards;
  animation-delay: 1.8s;
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  -ms-animation-delay: 1.8s;
}

.column-2 {
  margin-left: 630px;
  margin-top: 200px;
  width: 420px;
  height: 100px;
  position: absolute;
  opacity: 0;
  animation: fadeenter 2.5s forwards;
  -webkit-animation: fadeenter 2.5s forwards;
  -moz-animation: fadeenter 2.5s forwards;
  -ms-animation: fadeenter 2.5s forwards;
  animation-delay: 1.8s;
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  -ms-animation-delay: 1.8s;
}

/*.project-container {
  -moz-transition: all 700ms ease-out;
  -webkit-transition: all 700ms ease-out;
  -o-transition: all 700ms ease-out;
  transition: all 700ms ease-out;*/
  moz-transform: translate3d(0px, 200px, 0px);
  -webkit-transform: translate3d(0px, 200px, 0px);
  -o-transform: translate(0px, 200px);
  -ms-transform: translate(0px, 200px);
  transform: translate3d(0px, 200, 0px);
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  backface-visibility: hidden;
}*/

/*.project-img:hover {
  box-shadow: 2px 6px 7px 0px rgba(0, 0, 0, 0.25);
  transition-duration: 0.25s;
}*/

.hover-text {
  display: block;
  opacity: 0;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  padding-top: 25%;
  letter-spacing: 1px;
  position: absolute;
  width: 390px;
  height: 140px;
  color: #262626;
  background-color: #fcfcfe;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
}

.hover-text:hover {
  opacity: 0.9;
  z-index: 100;
}

/*  animation: fade 0.35s forwards;
  -webkit-animation: fade 0.35s forwards;
  -moz-animation: fade 0.35s forwards;
  -ms-animation: fade 0.35s forwards;
  animation-duration: 0.6s;*/

/*.hover-text-out {
  animation: fadeout 0.5s backwards;
}*/

/*@keyframes fade {
  0%   { opacity: 0; }
  100% { opacity: 0.8; }
}*/

/*@keyframes fadeout {
  0%   { opacity: 0.8; }
  100% { opacity: 0; }
}*/

.up-arrow {
  width: 35px;
  height: 35px;
  position: fixed;
  cursor: pointer;
  bottom: 35px;
  right: 90px;
  opacity: 1;
}

.up-arrow:hover {
  opacity: 0.35;
  transition-duration: .15s;
}

#navbar {
  position: absolute;
  top: 3.5%;
  left: 74%;
  opacity: 0;
  animation: fadeenter 2.5s forwards;
  -webkit-animation: fadeenter 2.5s forwards;
  -moz-animation: fadeenter 2.5s forwards;
  -ms-animation: fadeenter 2.5s forwards;
  animation-delay: 1.8s;
  -webkit-animation-delay: 1.8s;
  -moz-animation-delay: 1.8s;
  -ms-animation-delay: 1.8s;
}

.navbar-item-1 {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: -15px;
  display: inline-block;
  opacity: 1;
}

.navbar-item-1:hover {
  opacity: 0.6;
  transition: 0.1s;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
}

.navbar-item-2 {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: 66px;
  display: inline-block;
  opacity: 1;
}

.navbar-item-2:hover {
  opacity: 0.6;
  transition: 0.1s;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
}

/*.navbar-item-3 {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin-left: -918px;
  font-weight: 700;
  margin-top: -6px;
}*/

/*.navbar-item-3 {
  opacity: 1;
}

.navbar-item-3:hover {
  opacity: 0.6;
  transition: 0.12s;
  -moz-transition: 0.12s;
  -webkit-transition: 0.12s;
}*/

.sh-logo {
  opacity: 1;
  position: absolute;
  width: 38px;
  height: 25px;
  margin-top: -9px;
  margin-left: -912px;
}

.sh-logo:hover {
  opacity: 0.6;
  transition: 0.12s;
  -moz-transition: 0.12s;
  -webkit-transition: 0.12s;
}

a {
  text-decoration: none;
  color: #3b3d54;
}

a:-webkit-any-link {
  color: #3b3d54;
}

.linkedin-logo {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 170px;
  margin-top: -9px;
  opacity: 1;
}

.linkedin-logo:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.facebook-logo {
  position: absolute;
  width: 37px;
  height: 37px;
  margin-left: 195px;
  margin-top: -12px;
  padding-left: 10px;
  opacity: 1;
}

.facebook-logo:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.instagram-logo {
  position: absolute;
  width: 32px;
  height: 32px;
  margin-left: 245px;
  margin-top: -11px;
  opacity: 1;
}

.instagram-logo:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.email {
  position: absolute;
  width: 27px;
  height: 27px;
  margin-left: 285px;
  margin-top: -8px;
  opacity: 1;
}

.email:hover {
  opacity: 0.6;
  transition: 0.2s;
}
