body, html {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

#about-container {
	position: relative;
  width: 100%;
  height: 590px;
  background-color: #9bc9c3;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
		opacity: 1;
	}
}

#about-title {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  letter-spacing: 2px;
  font-weight: 700;
  color: #3b3d54;
  margin-left: 560px;
  top: 10%;
}

.sophia-photo {
  width: 435px;
  height: 300px;
  position: absolute;
  margin-top: 182px;
  margin-left: 675px;
  opacity: 0;
  animation: fadeenter 2.5s forwards;
  -webkit-animation: fadeenter 2.5s forwards;
  -moz-animation: fadeenter 2.5s forwards;
  -ms-animation: fadeenter 2.5s forwards;
  animation-delay: 0.2s;
}

#about-description {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 2px;
  color: #40424b;
  width: 420px;
  height: 335px;
  margin-top: 190px;
  margin-left: 175px;
  text-align: justify;
  opacity: 0;
  animation: fadeenter 2.5s forwards;
  -webkit-animation: fadeenter 2.5s forwards;
  -moz-animation: fadeenter 2.5s forwards;
  -ms-animation: fadeenter 2.5s forwards;
}

@keyframes fadeenter {
100% {
  opacity: 1;
  }
}

#navbar {
  position: absolute;
  top: 3.5%;
  left: 74%;
  opacity: 0;
  animation: fadeenter 2.5s forwards;
  -webkit-animation: fadeenter 2.5s forwards;
  -moz-animation: fadeenter 2.5s forwards;
  -ms-animation: fadeenter 2.5s forwards;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  animation-delay: 0.3s;
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  -ms-animation-delay: 0.3s;
}

.navbar-item-1 {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: -20px;
  display: inline-block;
  opacity: 1;
}

.navbar-item-1:hover {
  opacity: 0.6;
  transition: 0.1s;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
}

.navbar-item-2 {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: 70px;
  display: inline-block;
  opacity: 1;
}

.navbar-item-2:hover {
  opacity: 0.6;
  transition: 0.1s;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
}

.navbar-item-3 {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  letter-spacing: 2px;
  margin-left: -918px;
  font-weight: 700;
  margin-top: -6px;
}

.navbar-item-3 {
  opacity: 1;
}

.navbar-item-3:hover {
  opacity: 0.6;
  transition: 0.12s;
  -moz-transition: 0.12s;
  -webkit-transition: 0.12s;
}

a {
  text-decoration: none;
  color: #3b3d54;
}

.linkedin-logo {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 170px;
  margin-top: -9px;
  opacity: 1;
}

.linkedin-logo:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.facebook-logo {
  position: absolute;
  width: 37px;
  height: 37px;
  margin-left: 195px;
  margin-top: -12px;
  padding-left: 10px;
  opacity: 1;
}

.facebook-logo:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.instagram-logo {
  position: absolute;
  width: 32px;
  height: 32px;
  margin-left: 245px;
  margin-top: -11px;
  opacity: 1;
}

.instagram-logo:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.email {
  position: absolute;
  width: 27px;
  height: 27px;
  margin-left: 285px;
  margin-top: -8px;
  opacity: 1;
}

.email:hover {
  opacity: 0.6;
  transition: 0.2s;
}
