body, html {
  margin: 0 auto;
  width: 100%;
  height: 100%;
}

#title-container {
	position: relative;
  width: 100%;
  height: 590px;
  background-color: #a4add3;
}

#Layer_1 {
  width: 700px;
  padding: 20px;
  margin-top: 200px;
  margin-left: 270px;
  stroke-dasharray: 440;
  stroke-dashoffset: 400;
	animation: dash 4.4s ease-in-out forwards;
  animation-delay: 0.2s;
  opacity: 0.15;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
		opacity: 1;
	}
}

svg {
	width: 500px;
	padding: 20px;
	margin-top: 20%;
  margin-left: 50px;
}

#title-subtitle {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 2px;
  color: #fcfcfe;
  width: 450px;
  left: 50%;
  text-align: center;
  padding-top: 10px;
  opacity: 0;
  animation: fadeenter 2.5s forwards;
  -webkit-animation: fadeenter 2.5s forwards;
  -moz-animation: fadeenter 2.5s forwards;
  -ms-animation: fadeenter 2.5s forwards;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -ms-animation-delay: 2s;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

@keyframes fadeenter {
100% {
  opacity: 1;
  }
}

#navbar {
  position: absolute;
  top: 3.5%;
  left: 74%;
  opacity: 0;
  animation: fadeenter 2.5s forwards;
  -webkit-animation: fadeenter 2.5s forwards;
  -moz-animation: fadeenter 2.5s forwards;
  -ms-animation: fadeenter 2.5s forwards;
  animation-delay: 2s;
  -webkit-animation-delay: 2s;
  -moz-animation-delay: 2s;
  -ms-animation-delay: 2s;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
}

.navbar-item-1 {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: -20px;
  display: inline-block;
  opacity: 1;
}

.navbar-item-1:hover {
  opacity: 0.6;
  transition: 0.1s;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
}

.navbar-item-2 {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  letter-spacing: 1px;
  margin-left: 70px;
  display: inline-block;
  opacity: 1;
}

.navbar-item-2:hover {
  opacity: 0.6;
  transition: 0.1s;
  -moz-transition: 0.1s;
  -webkit-transition: 0.1s;
}

a {
  text-decoration: none;
  color: #3b3d54;
}

.linkedin-logo {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-left: 170px;
  margin-top: -9px;
  opacity: 1;
}

.linkedin-logo:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.facebook-logo {
  position: absolute;
  width: 37px;
  height: 37px;
  margin-left: 195px;
  margin-top: -12px;
  padding-left: 10px;
  opacity: 1;
}

.facebook-logo:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.instagram-logo {
  position: absolute;
  width: 32px;
  height: 32px;
  margin-left: 245px;
  margin-top: -11px;
  opacity: 1;
}

.instagram-logo:hover {
  opacity: 0.6;
  transition: 0.2s;
}

.email {
  position: absolute;
  width: 27px;
  height: 27px;
  margin-left: 285px;
  margin-top: -8px;
  opacity: 1;
}

.email:hover {
  opacity: 0.6;
  transition: 0.2s;
}
