body, html {
  margin: 0 auto;
}

#title-container {
	position: relative;
  width: 100%;
  height: 100%;
}

#title-box {
  position: relative;
  background-color: #FF6D00;
  opacity: 70%;
  width: 610px;
  height: 525px;
  margin: 8px;
  margin-top: 8px;
  margin-left: 13px;
}

#Layer_1 {
  width: 500px;
  padding: 20px;
  margin-top: 20%;
  stroke-dasharray: 440;
  stroke-dashoffset: 400;
	animation: dash 3.3s ease-in-out forwards;
  animation-delay: 1s;
}

@keyframes dash {
	to {
		stroke-dashoffset: 0;
		opacity: 1;
	}
}

svg {
	width: 500px;
	padding: 20px;
	margin-top: 20%;
  margin-left: 50px;
}

/*#title {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 4px;
  color: #FFF3E0;
  margin-left: 75px;
  padding-top: 135px;
}*/

#subtitle {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 2px;
  color: #FFF3E0;
  width: 450px;
  margin-left: 75px;
  margin-top: 5px;
}

.rectangle-1 {
  position: absolute;
  width: 75px;
  height: 3px;
  background-color: #FFF3E0;
  margin-left: 75px;
  margin-top: 90px;
}

.sf-home-1 {
  position: absolute;
  width: 610px;
  height: 525px;
  margin-left: 30px;
}

#home-menu {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 1px;
	color: white;
  margin-left: 48px;
  margin-top: -210px;
}

#home-menu .link {
  opacity: 1;
  transition: 0.1s;
	-moz-transition: 0.1s;
	-webkit-transition: 0.1s;
}

#home-menu .link:hover {
  opacity: 0.7
}

ul {
list-style-type: none;
}

a {
  text-decoration: none;
  color: white;
}

#navbar {
  width: 100%;
  height: 50px;
  background-color: #ff691a;
  display: inline-block;
  top: 0;
  z-index: 1000;
}

.home-nav {
  width: 35px;
  height: 35px;
  margin-left: 489px;
  padding-left: 20px;
  padding-top: 7px;
  opacity: 0.6;
}

.home-nav:hover {
  opacity: 1;
  transition: 0.5s;
}

.work-nav {
  width: 35px;
  height: 35px;
  padding-left: 30px;
  padding-top: 7px;
  opacity: 0.6;
}

.work-nav:hover {
  opacity: 1;
  transition: 0.5s;
}

.about-nav {
  width: 35px;
  height: 35px;
  padding-left: 30px;
  padding-top: 7px;
  opacity: 0.6;
}

.about-nav:hover {
  opacity: 1;
  transition: 0.5s;
}

.contact-nav {
  width: 35px;
  height: 35px;
  padding-left: 30px;
  padding-top: 7px;
  opacity: 0.6;
}

.contact-nav:hover {
  opacity: 1;
  transition: 0.5s;
}

#work-container {
	position: relative;
  width: 100%;
  height: 100%;
  margin-top: 20;
}

#background-work {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: -36px;
}

.work {
  width: 1263px;
  height: 580px;
  margin-top: 45px;
}

#work {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 4px;
  color: #fffbf5;
  margin-left: 75px;
  margin-top: -475px;
  z-index: 6;
}

.rectangle-2 {
  position: absolute;
  width: 75px;
  height: 3px;
  background-color: #fffbf5;
  margin-left: 75px;
  margin-top: -380px;
  z-index: 7;
}

#work-description {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  color: #FFF3E0;
  width: 500px;
  margin-left: 75px;
  margin-top: -350px;
  z-index: 50;
}

#work-grid {
  position: relative;
  background: #fffbf5;
  opacity: 0.8;
  width: 570px;
  height: 475px;
  margin-left: 625px;
  margin-top: -510px;
  z-index: 7;
}

.intel-pic {
  position: absolute;
  width: auto;
  height: 80px;
  margin-top: 70px;
  margin-left: 80px;
  z-index: 8;
}

.intel {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  width: 300px;
  height: 300px;
  background: #fffbf5;
  color: #2b2b2b;
  margin-top: 78px;
  margin-left: 225px;
  z-index: 8;
}

.intel-intern {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1px;
  color: #2b2b2b;
  margin-top: 107px;
  margin-left: 225px;
  z-index: 8;
}

.pbl-pic {
  position: absolute;
  width: auto;
  height: 80px;
  margin-top: 200px;
  margin-left: 80px;
  z-index: 8;
}

.pbl {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  color: #2b2b2b;
  margin-top: 219px;
  margin-left: 225px;
  z-index: 8;
}

.pbl-officer {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1px;
  color: #2b2b2b;
  margin-top: 248px;
  margin-left: 225px;
  z-index: 8;
}

.linkedin-pic {
  position: absolute;
  width: auto;
  height: 80px;
  margin-top: 350px;
  margin-left: 93px;
  z-index: 8;
}

.linkedin {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 2px;
  color: #2b2b2b;
  margin-top: 366px;
  margin-left: 225px;
  z-index: 8;
}

.linkedin-writer {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: 1px;
  color: #2b2b2b;
  margin-top: 395px;
  margin-left: 225px;
  z-index: 8;
}

#about-container {
	position: relative;
  width: 1263px;
  height: 550px;
  margin-top: 40px;
}

#background-about {
  position: relative;
  margin-top: 40px;
}

.profile-photo {
  width: 1263px;
  height: 630px;
  z-index: -50;
}

#about {
  position: absolute;
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 4px;
  color: #FFF3E0;
  margin-left: 75px;
  margin-top: -495px;
  z-index: 50;
}

.rectangle-5 {
  position: absolute;
  width: 75px;
  height: 3px;
  background-color: #FFF3E0;
  margin-left: 75px;
  margin-top: -400px;
}

#about-description {
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 1px;
  color: #FFF3E0;
  width: 500px;
  margin-left: 75px;
  margin-top: -370px;
  z-index: 50;
}

#contact-container {
	position: relative;
  width: 100%;
  height: 100%;
  margin-top: 10px;
}

#contact-box {
  position: relative;
  background-color: #FF6D00;
  opacity: 70%;
  width: 1237px;
  height: 520px;
  margin: 10px;
  margin-left: 13px;
  margin-bottom: 10px;
}

#contact {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 4px;
  color: #FFF3E0;
  margin-left: 75px;
  margin-top: 100px;
  padding-top: 120px;
}

#contact-description {
  font-family: 'Open Sans', sans-serif;
  color: #FFF3E0;
  font-size: 18px;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 2px;
  margin-left: 75px;
}

.rectangle-6 {
  position: absolute;
  width: 75px;
  height: 3px;
  background-color: #FFF3E0;
  margin-left: 75px;
  margin-top: 40px;
}

#email {
  color: #FFF3E0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-left: 75px;
  padding-top: 60px;
}

#email-description {
  color: #FFF3E0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 2px;
  font-size: 16px;
  margin-left: 75px;
  padding-top: 3px;
}

#social-media {
  color: #FFF3E0;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  font-size: 20px;
  margin-left: 75px;
  padding-top: 15px;
}

#social-media-description {
  color: #FFF3E0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  font-style: italic;
  letter-spacing: 2px;
  font-size: 16px;
  margin-left: 75px;
  padding-top: 10px;
  cursor: pointer;
}

.linkedin-logo {
  height: 60px;
  width: 60px;
  padding-right: 10px;
  opacity: 0.7;
}

.linkedin-logo:hover {
  opacity: 1;
  transition: 0.3s;
}

.facebook-logo {
  height: 58px;
  width: 58px;
  padding-right: 10px;
  padding-bottom: 1px;
  opacity: 0.7;
}

.facebook-logo:hover {
  opacity: 1;
  transition: 0.3s;
}

.instagram-logo {
  height: 60px;
  width: 60px;
  padding-right: 10px;
  opacity: 0.7;
}

.instagram-logo:hover {
  opacity: 1;
  transition: 0.3s;
}

.navbar-fixed {
  position: fixed;
}
